page-search-shelter {
 font-family: "Noto Sans", "Noto Sans CJK KR";

 .searchbar {
   background-color: white !important ;
 }
//  ion-item > .item > .item-block{
//    border-bottom : 0px white !important;
//  }
}
// ion-navbar {
//   margin-left:5px ;
// }
.serach-shelter-list {
  font-size:12px ;
  display:flex ;
  ion-label {
    margin: 0 ;
  }
  .search-list-icon {
    ion-icon {
      width: 20px;
      height: 20px;
    }
    width: 10% ;
  }
  .search-list-title {
    width: 70% ;
    padding-top: 5px ;
    padding-left: 0;
    text-align: left;
    font-size: 14px;
    // flex: auto ;
  }
  .search-list-x {
    width: 15% ;
    text-align: right ;
    flex : auto ;
  }
}

.item-ios.item-block .item-inner,
.item-md.item-block .item-inner {
  border-bottom: 0;
}
