<ion-content nopadding>
    <!-- <br/><br/><br/><br/>
  <div style="text-align:center;">
    <img src="../../assets/icon/5@2x.png" class=center; style="position:absoulte; width:80%; background : no-repeat center center">
    <br/><br/><br/>
    <span style="font-size:16px; font-weight:300;"><h3>아직 지진 기록이 없습니다.</h3></span>
  </div> -->

  <div class="container">
    <!-- <div class="eq-item" *ngFor="let item of history | async"> -->
    <div class="eq-item" *ngFor="let item of temp">
      <p class="item-time">
        {{item.tmEqk}}
      </p>
      <div style="display:flex; align-items: center;">
        <span class="item-mag">
          규모 {{ item.mt }}
        </span>
        <span class="item-effect">
          {{ item.rem }}
        </span>
      </div>
      <span class="item-location">
        {{ item.loc }}
      </span>
    </div>
  </div>

</ion-content>
