// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$loading-ios-background : trasparent;
$loading-md-background : transparent;
$loading-md-box-shadow-color : rgba(0, 0, 0, 0);

$cordova-ios-statusbar-padding: 0px;

$range-ios-knob-background-color: rgb(16, 102, 230);
$range-ios-knob-width: 35px;
$range-ios-bar-height: 5px;
$range-ios-tick-height: 15px;
$range-ios-tick-width: 15px;
$range-ios-tick-border-radius: 15px;

$range-md-knob-background-color: rgb(16, 102, 230);
$range-md-knob-width: 35px;
$range-md-bar-height: 5px;
$range-md-tick-height: 15px;
$range-md-tick-width: 15px;
$range-md-tick-border-radius: 15px;
$range-md-tick-background-color: #bdbdbd;
$range-md-tick-active-background-color: rgb(16, 102, 230);

ion-navbar.toolbar {
  text-align: center;
  .toolbar-title-ios, .toolbar-title-md {
    font-size: 1.7rem !important;
    font-weight: 400 !important;
  }
}
.header-ios{
  padding-top: 20px;
}
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  main: rgb(16, 102, 230),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
