.no-scroll .scroll-content{
  overflow: hidden;
}
ion-navbar {
  text-align : center;

  img {
    width: 20px;
    height: 20px;
  }
  ion-title.title {
    font-size : 14px !important;
    font-weight: 200 !important;
  }
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-md
  {
    font-size: 14px !important;
    font-weight: 200 !important;
  }
	.toolbar-background {
		background-color : white ;
  }
}